@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-black-50: #F4F4F4;
  --color-dark-black-100: #F1F3F4;
  --color-dark-black-800: #3C4043;
  --color-dark-black-200: #E8EAED;
  --color-dark-black-300: #DADCE0;
  --color-dark-black-400: #BDC1C6;
  --color-dark-black-500: #9AA0A6;
  --color-dark-black-600: #80868B;
  --color-dark-black-700: #5F6368;
  --color-dark-black-846: #2E3134;
  --color-dark-black-900: #202124;
  --color-dark-black-928: #17181B;
  --color-dark-black-868: #282A2D;
  --color-dark-black-958: #0E1013;
  --color-primary-50: #F1EFFF;
  --color-primary-100: #D3CDFF;
  --color-primary-200: #BEB4FF;
  --color-primary-300: #A192FF;
  --color-primary-400: #8E7DFF;
  --color-primary-500: #725DFF;
  --color-primary-600: #6855E8;
  --color-primary-700: #5142B5;
  --color-primary-800: #3F338C;
  --color-primary-900: #30276B;
  --color-green-50: #EBF9EE;
  --color-green-100: #C0EECC;
  --color-green-200: #A2E5B3;
  --color-green-300: #77D990;
  --color-green-400: #5DD27A;
  --color-green-500: #34C759;
  --color-green-600: #2FB551;
  --color-green-700: #258D3F;
  --color-green-800: #1D6D31;
  --color-green-900: #165425;
  --color-yellow-50: #FFFAE6;
  --color-yellow-100: #FFEFB0;
  --color-yellow-200: #FFE88A;
  --color-yellow-300: #FFDD54;
  --color-yellow-400: #FFD633;
  --color-yellow-500: #FFCC00;
  --color-yellow-600: #E8BA00;
  --color-yellow-700: #B59100;
  --color-yellow-800: #8C7000;
  --color-yellow-900: #6B5600;
  --color-red-50: #FFEBEA;
  --color-red-100: #FFC2BF;
  --color-red-200: #FFA5A0;
  --color-red-300: #FF7C74;
  --color-red-400: #FF6259;
  --color-red-500: #FF3B30;
  --color-red-600: #E8362C;
  --color-red-700: #B52A22;
  --color-red-800: #8C201A;
  --color-red-900: #6B1914;
  --text-xl: 24px;
  --text-2lg: 20px;
  --text-lg: 18px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-2xs: 10px;
  --breakpoint-md: 950px;
  --breakpoint-sm: 640px;
  --bg-image: url('./assets/tablet-img.png');
  --font-spline-sans: "Spline Sans", monospace;
  --shadow-full: 100px 100px #000, -200px -200px #000;
}

@layer base {
  * {
    @apply font-spline-sans border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-[28px] md:text-[33px] leading-[120%] capitalize
  }

  h2 {
    @apply text-2lg md:text-xl font-semibold leading-[150%] capitalize
  }

  h3 {
    @apply text-2lg
  }

  h4 {
    @apply text-lg capitalize font-normal my-3 leading-[140%]
  }

  h5 {
    @apply text-base sm:text-lg leading-[140%] capitalize font-semibold
  }
  h6 {
    @apply text-sm font-normal capitalize
  }

  button {
    @apply transition duration-500 cursor-pointer capitalize
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* @layer base {
  * {
    @apply 
  }
} */

@layer components {
  .body {
    @apply flex overflow-hidden
  }

  .active {
    @apply dark:bg-dark-black-800 dark:text-white bg-blue-50 text-blue-500 rounded-2xl font-semibold
  }

  .displayGrid {
    @apply z-1 md:mt-2 row-span-2 col-span-3 sm:col-span-2 flex flex-wrap bg-dark-black-50 dark:bg-dark-black-700 dark:text-white rounded-2xl py-4 px-3 text-primary-500 
    [&:nth-child(2)]:row-start-3 [&:nth-child(2)]:col-start-2 [&:nth-child(3)]:row-start-6 sm:[&:nth-child(3)]:col-start-3 [&:nth-child(3)]:col-start-2 [&:nth-child(4)]:row-start-9 [&:nth-child(4)]:col-start-2
  }
  .table-head {
    @apply py-10 w-full h-full [&>tr>th]:first:w-[60%] [&>tr>th]:first:text-left [&>tr>th]:py-3
    
  }
  .table-body {
    @apply [&>tr]:nth-of-type-[even]:bg-dark-black-50 dark:[&>tr]:nth-of-type-[even]:bg-dark-black-700 [&>tr>td]:px-2 [&>tr>td]:py-2 [&>tr>td]:w-[10%] [&>tr>td]:text-center [&>tr>td]:border-none [&>tr]:border-none [&>tr>td]:first:text-left 
  }
  .checkbox {
    @apply appearance-none h-5 w-5 rounded-[4px] border-2 checked:border-primary-500 checked:bg-primary-200 dark:checked:bg-black
  }

  .flex-between {
    @apply items-center flex justify-between
  }
  .flex-start {
    @apply flex justify-between items-start
  }
  .flex-center {
    @apply items-center flex justify-center
  }
  .light-btn {
    @apply bg-primary-50 py-2 sm:py-4 px-6 rounded-2xl text-primary-500 capitalize dark:bg-dark-black-800
  }
  .dark-btn {
    @apply bg-primary-500 py-2 sm:py-4 px-6 rounded-2xl text-white capitalize
  }


  /* .icon {
    @apply text-3xl
  } */
  /* .sidenav {
    @apply w-1/6 p-5 bg-white absolute
  } */
}